html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.first-law, .third-law, .second-law {
    width: 100%;
    height: 1000px;
}

.dialog {
    width: 30%;
    height: 40%;
    align-self: center;
    text-align: center;
    border: rgb(169, 162, 180) 5px solid;
    border-radius: 30%;
    overflow: hidden;
}
 
.dissapear {
    width: 0%;
    height: 0%;
    border: none;
    background-color: none;
    background-image: none;
    overflow: hidden;
}

.teacher {
    width: 10%;
    height: 40%;
    background-color: black; /*temp till there's an image*/
}

.ball {
    width: 450px;
    height: 150px;
    
}

.box {
    width: 150px;
    height: 150px;
    display: block;
    background-color: black;
    transform: translateX(300px);
    animation: infinite-slide 10s infinite linear;
    animation: boxDrop 5s paused linear;
}

.third-law {
    border: red 5px solid;
}

.wall {
    position: relative;
    width: 250px;
    height: 600px;
    float: right;
    background-color: brown;
}

.third-law .spacer {
    width: 100%;
    height: 450px;
    background-color: white;
    border: black 5px solid;
}

.Force-Container {
    position: relative;
    width: 100px;
    height: 390px;
    overflow: hidden;
}

.force-level {
    position: relative;

    width: 90px;
    height: 90px;
    background-color: rgb(102, 102, 102);
    border: black 5px solid;
}

.Force-Container .force-level:hover {
    position: relative;

    width: 90px;
    height: 290px;
    background-color: rgb(66, 216, 73);
    border: black 5px solid;
}

.acleration-level {
    position: relative;

    width: 90px;
    height: 90px;
    background-color: rgb(102, 102, 102);
    border: black 5px solid;
}

.Force-Container .aceleration-level:hover {
    position: relative;

    width: 90px;
    height: 290px;
    background-color: rgb(66, 216, 73);
    border: black 5px solid;
}

.mass-level {
    position: relative;

    width: 90px;
    height: 90px;
    background-color: rgb(102, 102, 102);
    border: black 5px solid;
}

.Force-Container .mass-level:hover {
    position: relative;

    width: 90px;
    height: 290px;
    background-color: rgb(66, 216, 73);
    border: black 5px solid;
}



.ball-img {
    width: 150px;
    height: 150px;
}

.ball-img-rolling {
    animation-duration: 10s;
    animation-name: infinite-roll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.ball-img-stopping {
    width: 150px;
    height: 150px;
    /*animation-duration: 5s;
    animation-name: stop-roll;
    animation-direction: normal;*/
}




@keyframes infinite-roll{
    from {
        transform: translateX(-150px);
    }
    to {
        transform: translateX(2150px);
    }
}

@keyframes stop-roll{
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-150px);
    }
}

@keyframes infinite-slide{
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(2150px);
    }
}

@keyframes boxDrop{
    from {
        transform: translateY(-150px)
    }
    to {
        transform: translateY(0px);
    }
}

