html, body {
    width: 100%;
    height: 100%;
}

.dialog {
    width: 30%;
    height: 40%;
    align-self: center;
    text-align: center;
    border: rgb(169, 162, 180) 5px solid;
    border-radius: 30%;
    overflow: hidden;
}

.dissapear {
    width: 0%;
    height: 0%;
    border: none;
    background-color: none;
    background-image: none;
    overflow: hidden;
}

.teacher {
    width: 10%;
    height: 40%;
    background-color: black; /*temp till there's an image*/
}

.ball {
    width: 150px;
    height: 150px;
    animation-play-state: paused;
    animation-duration: 10s;
    animation-name: infinite-roll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;

}

@keyframes infinite-roll{
    from {
        transform: translateX(-150px);
    }
    to {
        transform: translateX(2150px);
    }
}

