
body {
    background-color: rgb(92, 77, 65);
}

h1, h2, p, ul, a {
    color: rgb(231, 234, 252);
}

a {
    text-decoration: none;
}

.book-link {
    width: 50px;
    height: 150px;
    border: red 5px solid;
}

.book-top {
    background-color: beige;
    width: 40px;
    height: 20px;
    border-top: rgb(230, 230, 230) 5px groove;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-left: darkblue 5px groove;
    border-right: darkblue 5px groove;
    border-bottom: darkblue 3px groove;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
}

.book-spine {
    background-color: blue;
    width: 50px;
    border-top: blue top 2px solid;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}

.book-text {
    width: 50px;
    height: 125px;
    text-align: center;
    writing-mode: vertical-lr;
}

.book-image {
    background-color: purple;
    border: darkblue 5px solid;
    width: 40px;
    height: 30px;
    margin: 0 auto;
}

.book-image img {
    position: relative;
    width: 40px;
    height: 30px;
}

