/* CSS to make a link look like a book */


/*base book*/
.book-link-container {
    width: 50px;
    height: 190px;
    float: right;
    padding-top: 30px;
}
.book-link {
    width: 50px;
    height: 150px;
}
.book-top {
    background-image: repeating-linear-gradient(to right, beige, rgb(177, 177, 177) 5%, beige 15%);
    background-color: beige;
    width: 40px;
    height: 20px; 
    border-top: rgb(171, 171, 171) 3px dotted;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-left: darkblue 5px groove;
    border-right: darkblue 5px groove;
    border-bottom: darkblue 3px groove;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
}
.book-spine {
    background-image: linear-gradient(to right, darkblue, blue, darkblue);
    background-color: blue;
    width: 50px;
    border-top: blue top 2px solid;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.book-text {
    width: 50px;
    height: 125px;
    text-align: center;
    writing-mode: vertical-lr;
}
.book-image {
    background-color: purple;
    border: darkblue 5px solid;
    width: 40px;
    height: 30px;
    margin: 0 auto;
}
.book-image img {
    position: relative;
    width: 40px;
    height: 30px;
}
