/*Universal*/
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/*Home Page*/
.adventureChoice {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.transChoice {
    width: 32%;
    height: 32%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;

    background-color: transparent;
    border-radius: 50%;

}

.transChoice img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 100%;
}

.transChoice h2 {
    font-size: 40px;
    color: aliceblue;
    -webkit-text-stroke: 2px #000;
}



/*Drive Page*/
#outsideCar {
    width: 100%;
    height: 100%;
    background-image: url(assets/outsideCar-temp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#insideCar {
    width: 100%;
    height: 100%;
    background-image: url(assets/insideCar-temp.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#leftCarSpacer {
    width: 30%;
    height: 100%;
}

.wheelRow {
    width: 30%;
    height: 100%;
}

.topWheelSpacer{
    width: 100%;
    height: 45%;
}

.carWheel {
    
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    border: black 10px solid;
    border-radius: 50%;
    justify-content: center;
}



#carHorn {
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
    align-self: center;
}


/*Train Page*/



/*Bike Page*/
#outsideBike {
    width: 100%;
    height: 100%;
    background-image: url(assets/outsideBike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#insideBike {
    width: 100%;
    height: 100%;
    background-image: url(assets/insideBike.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
